body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    background: #FFFFFF;
}
nav {
    width: 1400px;
    max-width: 100%;
    height: 78px;
    left: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-container {
    flex: display;
}
ul {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    width: 100%;
    height: 28px;
    position: absolute;
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px);
    color: #2F281E;
}
li {
    color: #2F281E;
}
.logo {
    width: 185px;
    position: absolute;
    width: 185px;
    height: 32px;
    left: 143.92px;
    top: 22px;
}
.btn-sign-in {
    height: 46px;
    width: 102px;
    left: 1029px;
    top: 15px;
    border-radius: 0px;
    left: 73.5%;
    right: 19.21%;
    top: 19.23%;
    bottom: 21.79%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 14px;
    color: #173A56;
    background-color: #FFFFFF;
    /* identical to box height */
}

.btn-sign-up {
    height: 46px;
    width: 110px;
    left: 1145px;
    top: 15px;
    border-radius: 0px;
    left: 81.79%;
    right: 10.36%;
    top: 19.23%;
    bottom: 21.79%;
    color: #FFFFFF;
    background-color: #FF9900;
}



main {
    min-height: 100vh;
    margin: 0px;
}



/*


.nav-links {
}

.heading {
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: 0px; 
    /*
    margin-top: 80px;
    position: sticky; 
    top: 30px; 
}



.btn {
    position: absolute;
    justify-content: center;
    bottom: 10px;
    width: 90%;
    height: 40px;
    border: none;
    background-color: rgb(238, 238, 79);
}

.btn:hover {
    border: 1px solid black;
}

.btn--success {
    background-color: rgb(5, 197, 5);
}

.btn--decline {
    background-color: rgb(241, 35, 35);
    margin: 21px 9px;
}

.parent {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   margin: auto;
   width: 1400px;
   position: relative;
   background-color: #FFFFFF;
}
.navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; 

}
.card {
    max-width: 200px;
    min-height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
}
.first {
    /* transform: scale(1.5);
    transform: rotate(45deg);
    transform: skew(10deg, 10deg);
    transform: translate(10px, 10px); 
}
*/