.parent {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   margin: auto;
   width: 1400px;
   position: relative;
   background-color: #FFFFFF;
}

.navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}






.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; 

}

.card {
    max-width: 200px;
    min-height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
}


body {
    margin: 0;
    background: #FFFFFF;
}
main {
    min-height: 100vh;
    margin: 0px;
}



/*
.logo {
    display: inline-block;
}

.nav-links {
}

.heading {
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: 0px; 
    /*
    margin-top: 80px;
    position: sticky; 
    top: 30px; 
    

main {
    height: 200vh;
    margin: 0px;
}

.btn {
    position: absolute;
    justify-content: center;
    bottom: 10px;
    width: 90%;
    height: 40px;
    border: none;
    background-color: rgb(238, 238, 79);
}

.btn:hover {
    border: 1px solid black;
}

.btn--success {
    background-color: rgb(5, 197, 5);
}

.btn--decline {
    background-color: rgb(241, 35, 35);
    margin: 21px 9px;
}

.first {
    /* transform: scale(1.5);
    transform: rotate(45deg);
    transform: skew(10deg, 10deg);
    transform: translate(10px, 10px); 
}
*/