body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: auto
}

/* start page */

nav {
    max-width: 1400px;
    width: 100%;
    min-height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    width: 100%;
    color: #2F281E;
}
li {
    color: #2F281E;
    list-style: none;
}
.logo {
    width: 185px;
    height: 32px;
}
.link-space {
    margin: 20px
}
.link-color {
    color: black;
    text-decoration: none;
}
.btn-sign-in {
    height: 46px;
    width: 102px;
    border-radius: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 14px;
    color: #173A56;
    background-color: #FFFFFF;
}
.btn-sign-up {
    height: 46px;
    width: 110px;
    border-radius: 0px;
    color: #FFFFFF;
    background-color: #FF9900;
}
/* nav ends*/

/* header section*/
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1126px;
    min-height: 496px;
    margin-top: 30px;
}
.header-info {
    display: flex;
    flex-direction: column;
    max-width: 518px;
    width: 100%;
    min-height: 331px;
}
.main-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #2F281E;
    max-width: 518px;
    min-height: 108px;
    width: 100%;
}
.main-info {
    max-width: 458px;
    min-height: 95px;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 30px;
}
.btn-start {
    width: 100%;
    max-width: 175px;
    min-height: 53px;
    border: none;
    background-color: #FF9900;
    color: #FFFFFF;
    margin-top: 45px;
}
.btn-vid {
    width: 100%;
    max-width: 161px;
    min-height: 23px;
    border: none;
    background-color: #FFFFFF;
    color: #FF9900;
    margin-top: 45px;
}
.header-img {
    width: 100%;
    max-width: 605px;
    min-height: 496px;
    margin-top: 30px;
}
/* header section end*/


/* design section begin*/
.design-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    min-height: 574px;
    margin-top: 100px;
    transform: scale(1.1);
}
.design-info {
    display: flex;
    flex-direction: column;
    max-width: 486px;
    width: 100%;
    min-height: 531px;
}
.design-effort {
    font-family: 'Poppins';
    font-style: normal;
    max-width: 186px;
    width: 100%;
    min-height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}
.design-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    max-width: 385px;
    width: 100%;
    min-height: 54px;
    margin-top: 3;
    color: #2F281E;
}
.design-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    max-width: 486px;
    width: 100%;
    margin-top: 12px;
    color: #544837;
}
.design-small-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    color: #2F281E;
}
.design-img {
    max-width: 520px;
    width: 100%;
    min-height: 574px;
    margin-left: 50px;
    position: relative;
    left: 50px;
}
/* design section end*/

/* product section begin*/
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1121px;
    min-height: 521px;
    margin-top: 100px;
}
.product-info {
    display: flex;
    flex-direction: column;
    max-width: 486px;
    width: 100%;
    min-height: 427px;
}
.product-easier {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-left: 50px;
    color: #544837;
}
.product-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-top: 3px;
    margin-left: 50px;
    color: #2F281E;
}
.product-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-left: 50px;
    color: #544837;
    }
.product-points {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    margin-left: 50px;
    color: #544837;
}
.product-img {
    max-width: 535px;
    min-height: 521px;
    width: 100%;
    margin-right: 50px;
}


main {
    min-height: 100vh;
    margin: 0px;
}



/*

.btn {
    position: absolute;
    justify-content: center;
    bottom: 10px;
    width: 90%;
    height: 40px;
    border: none;
    background-color: rgb(238, 238, 79);
}

.btn:hover {
    border: 1px solid black;
}

.parent {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   margin: auto;
   width: 1400px;
   position: relative;
   background-color: #FFFFFF;
}
.navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; 

}
.card {
    max-width: 200px;
    min-height: 300px;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
}
.first {
    /* transform: scale(1.5);
    transform: rotate(45deg);
    transform: skew(10deg, 10deg);
    transform: translate(10px, 10px); 
}
*/